.jumbo{
    height: 300px;
    width: 100%;
}

.jumbo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.back-d{
    background-color: rgb(19, 18, 18);
}

.load{
    background-color: #0282f9;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 25px;
}

.series{
    background-color: #024481;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 25px;
    position: absolute;
    top: -20px;
}

.bg-b{
    background-color: #0282f9;
}

.item{
    height: 100px;
}

.item img{
    height: 50%;
}

